<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link rel="stylesheet" href="assets/css/theme.css" />
  </head>
  <body>

  <div class="container" id="app">
    <div class="card">
      <h1 :style="{
      color: inputValue.length < 5 ? 'darkred' : 'darkblue',
      fontSize: inputValue.length < 6 ? '2rem' : '1.5em'
      }">{{ appTitle }}</h1>
      <div class="form-control">
        <input
                type="text"
                :placeholder="myPlaceholder"
                v-model="inputValue"
                @keypress.enter="addVueNote"
        >
      </div>
      <button class="btn" @click="addVueNote">Добавить</button>
      <hr>
      <ul class="list" v-if="notes.length !== 0">
        <li class="list-item" v-for="(myNote, idx) of notes">
           <span :class="note.length > 5 ? 'primary' : 'bold'">({{ idx + 1 }}) {{ toUpperCase(myNote) }}</span>
          <button class="btn danger" @click="removeNote(idx)">Удалить</button>
        </li>
        <hr>
        <li>
          <strong>Общее количество заметок: {{ notes.length }}</strong> | Удвоенно: {{ notes.length * 2 }}
        </li>
      </ul>

      <div v-else>Заметок пока нет добавте первую</div>
    </div>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="assets/js/app.js"></script>
  </body>
</html>
