body {
  background: rgb(160, 221, 160);
}

table,
th,
td {
  border: 1px solid black;
}

table {
  /* dla toqo ctobu ubrat nenujnie otstupi */
  border-collapse: collapse;
  width: 100%;
  background: #dedede;
}

.bodu {
  margin: 20px;
}

.box {
  width: 100px;
  height: 100px;
  border: 1px solid black
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.box1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  background: red;
}

.box2 {
  width: 150px;
  height: 150px;
  background: blue;
}